* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}
:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --text-size: 1rem;
  --border-color: #000;
  --box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
}
.card {
  width: 100%;
  max-width: 340px;
  background-color: var(--color-white);
  padding: 1.3rem;
  border-radius: 1rem;
  margin-inline: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.card-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.625rem;
}
.card-body h2 {
  width: fit-content;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: var(--color-yellow);
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: capitalize;
}
.card-body h4 {
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 400;
}
.card-body h1 {
  font-weight: 800;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  font-size: clamp(1.25rem, -0.2045rem + 7.2727vw, 1.5rem);
}
.card-body h1:hover {
  color: var(--color-yellow);
}
.card-body p {
  font-size: clamp(0.75rem, 0.0227rem + 3.6364vw, 0.875rem);
  color: var(--color-gray-500);
  line-height: 1.7;
}
.card-footer {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
.card-footer img {
  width: 30px;
}
.card-footer h3 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: var(--text-size);
}
